'context-menu':
    'atom-text-editor': [{
        label: 'Optimize CSS',
        command: 'cssnano:process'
    }]

'menu': [{
    label: 'Packages'
    submenu: [
        label: 'Cssnano'
        submenu: [{
            label: 'Optimize CSS',
            command: 'cssnano:process'
        }]
    ]
}]
